<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Liste Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
 <div layout:fragment="content1">
     <div class="container mt-2">
         <div class="card">
             <div class="card-header">Listes des patients</div>
             <div class="card-body">
                 <form method="get" th:action="@{/user/index}">
                     <label>Key Word</label>
                     <input type="text" name="keyword"  th:value="${keyword}"/>
                     <button type="submit" class="btn btn-primary">Chercher</button>
                 </form>
                 <table class="table">
                     <thead>
                     <tr>
                         <th>ID</th> <th>Nom</th><th>Date</th> <th>Malade</th><th>Score</th> <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="p:${pagePatients}">
                         <td th:text="${p.id}">ID</td>
                         <td th:text="${p.nom}">Nom</td>
                         <td th:text="${p.dateNaissance}">Date</td>
                         <td th:text="${p.malade}">Malade</td>
                         <td th:text="${p.score}">Score</td>
                         <td  th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                             <a onclick="return confirm('Voulez-vous supprimer ?')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id}, page=${currentPage}, keyword=${keyword} )}">Delete</a>
                         </td>
                         <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                             <a  class="btn btn-success" th:href="@{/admin/editPatient(id=${p.id}, page=${currentPage}, keyword=${keyword})}">Edit</a>
                         </td>
                     </tr>
                     </tbody>
                 </table>
                 <ul class="nav nav-pills">
                     <li th:each="page,status:${pages}">
                         <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}" th:text="${status.index}"
                            th:href="@{/user/index(page=${status.index}, keyword=${keyword})}">page</a>
                     </li>
                 </ul>
             </div>
         </div>
     </div>
 </div>

</body>
</html>